.shoppingCardOrder {
  display: flex;
  flex-direction: column;
}

.shoppingCardOrder h1 {
  color: whitesmoke;
  text-align: center;
  padding: 1rem;
  font-size: 3rem;
}

.shoppingCardImage {
  height: 5rem;
  width: 5rem;
}

.shoppingCardPage {
  background-image: url("./BackgroundRedPanda.jpg");
  background-size: cover;
  height: 100vh;
  padding-top: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-family: Sofia Sans;
}

.shoppingCardContainer {
  display: flex;
  justify-content: center;
  width: 95%;
}

.shoppingCard {
  align-items: center;
  width: 95%;
  border-radius: 0.5rem;
  border: 3.44px solid #fb4300;
  background: #342e2b;
  box-shadow: 2.16px 2.16px 1.58px 1.02px #515151;
  display: flex;
  padding: 0.5rem;
  gap: 1rem;
}

.shoppingCardName {
  color: #c6c6c6;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.25rem;
  padding-bottom: 0.5rem;
}

.shoppingCardOS {
  color: #c6c6c6;
  font-family: Sofia Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 0.1rem;
}

.shoppingCardPrice {
  color: #c6c6c6;
  font-family: Sofia Sans;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.shoppingCardBasketContainer {
  border-radius: 0.5rem;
  background: rgba(188, 68, 37, 0.5);
  padding: 1rem;
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.shoppingCardBasketItem {
  width: 100%;
  min-height: 4rem;
  border: 1px solid #d6d6d6;
  border-radius: 0.5rem;
  position: relative;
  font-size: 1rem;
  padding: 0.5rem;
}

.shoppingCardDeleteButton {
  font-size: 22px;
  font-weight: 500;
  background-color: transparent;
  border: none;
  color: #d6d6d6;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.shoppingCardTotal {
  padding: 1rem;
  border: 1px solid #d6d6d6;
  border-radius: 0.5rem;
  color: #d6d6d6;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.2rem;
}

.shoppingCardPurchaseButton {
  margin: 1rem 0rem 0rem 0rem;
  color: #c6c6c6;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  padding: 1rem 2rem;
  border-radius: 3rem;
  background: #c24626;
  box-shadow: 0px 2px 46.7px -1px #1a0200 inset;
  font-size: 20px;
  font-weight: 700;
}

.shoppingCardTotalAndButton {
  padding: 1rem 0rem 0rem 0rem;
}

@media (min-width: 620px) {
  .shoppingCardOrder {
    display: flex;
    flex-direction: column;
  }

  .shoppingCardOrder h1 {
    color: whitesmoke;
    text-align: center;
    padding: 1rem;
    font-size: 3rem;
  }

  .shoppingCardImage {
    height: 13rem;
    width: 13rem;
  }

  .shoppingCardPage {
    height: 100%;
    max-width: 100%;
    padding: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    font-family: Sofia Sans;
  }

  .shoppingCardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .shoppingCard {
    width: 95%;
    border-radius: 0.5rem;
    border: 3.44px solid #fb4300;
    background: #342e2b;
    box-shadow: 2.16px 2.16px 1.58px 1.02px #515151;
    padding: 0.5rem;
    gap: 1rem;
  }

  .shoppingCardName {
    color: #c6c6c6;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.25rem;
    padding-bottom: 0.5rem;
  }

  .shoppingCardOS {
    color: #c6c6c6;
    font-family: Sofia Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 0.1rem;
  }

  .shoppingCardPrice {
    color: #c6c6c6;
    font-family: Sofia Sans;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .shoppingCardBasketContainer {
    display: flex;
    justify-content: center;
    align-items: start;
    border-radius: 0.5rem;
    background: rgba(188, 68, 37, 0.5);
    padding: 1rem;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  .shoppingCardBasketItem {
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 4rem;
    border: 1px solid #d6d6d6;
    position: relative;
    font-size: 1rem;
    padding: 0.5rem;
  }

  .shoppingCardDeleteButton {
    font-size: 22px;
    font-weight: 500;
    background-color: transparent;
    border: none;
    color: #d6d6d6;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

  .shoppingCardTotal {
    padding: 1rem;
    border: 1px solid #d6d6d6;
    color: #d6d6d6;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.2rem;
  }

  .shoppingCardPurchaseButton {
    margin: 1rem 0rem 0rem 0rem;
    color: #c6c6c6;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    padding: 1rem 2rem;
    border-radius: 3rem;
    background: #c24626;
    box-shadow: 0px 2px 46.7px -1px #1a0200 inset;
    font-size: 20px;
    font-weight: 700;
  }

  .shoppingCardTotalAndButton {
    padding: 1rem 0rem 0rem 0rem;
  }
}
