.background {
  background-image: url(/images/BackgroundRedPanda.jpg);
  background-size: cover;
  height: 100%;
}

.header {
  color: #c6c6c6;
  font-family: Sofia Sans;
  font-size: 7vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 1.2rem;
  display: flex;
  justify-content: center;
}

.gridBox {
  display: flex;
  justify-content: center;
}
