.background {
  background-image: url(public/BackgroundRedPanda.jpg);
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

h2 {
  color: #c6c6c6;
  font-family: Sofia Sans;
  font-size: 7vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  flex-grow: 2;
}

.gridContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;

  gap: 1rem;
}
