* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }

  .news-page {
    background-image: url('/src/assets/imagesEirBec/BackgroundRedPanda.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;

  }

  header {
    background-color: none;
  }

  footer {
    background-color: none;
  }

  .text-content {
    color: whitesmoke;
    text-align: start;
    margin: 3rem 20rem;
    font-size: larger;
    font-family: 'Sofia Sans', sans-serif;
  }

  h1 {
    padding-top: 3rem;
  }