@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,400;0,500;1,400;1,500&display=swap");

body {
  background-image: url("../../assets/BackgroundRedPanda.jpg");
  font-family: "Sofia Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.navContainer {
  display: flex;
  align-items: center;
  padding: 30px 20px;
  font-family: "Sofia Sans", sans-serif;
  width: 100vw;
}

.navItems {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100vw;
}

.aLinks {
  text-decoration: none;
  color: #fb7b4a;
  margin-right: 20px;
  font-size: 1rem;
}

.aLinks:hover {
  color: darkorange;
  text-decoration: underline;
}

.searchContainer {
  display: flex;
  align-items: center;
}

.searchButton {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  border: 2.907px solid #fb7b4a;
  background: rgba(164, 164, 164, 0.5);
}

.searchIcon {
  color: #fb7b4a;
  width: 70%;
  height: 75%;
}

.searchBar {
  border-radius: 15.751px;
  border: 2.907px solid #fb7b4a;
  background: rgba(164, 164, 164, 0.5);
  height: 30px;
  margin-right: 10px;
}

.navbarIcons {
  display: flex;
}

.Icon {
  margin-left: 10px;
  background: none;
  border: none;
  width: 26.165px;
  height: 26.165px;
}

/* Media query to hide checkboxes on screens 768px and above */
@media only screen and (min-width: 767px) {
  .dropDown input[type="checkbox"] {
    display: none;
  }

  /* Add this to hide the menu when the screen is wider */
  .slide {
    display: none;
  }

  span {
    display: none;
  }

  .aLinks {
    font-size: 1.5rem;
  }
}

/* Media query for mobile screens */

@media only screen and (max-width: 576px) {
  .navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh;
    width: 100vw;
    font-size: 10px;
  }
  .navItems {
    display: none;
  }

  .searchBar {
    width: 22vw;
    height: 15px;
    font-size: x-small;
    text-align: center;
    border: 1px solid #fb7b4a;
  }

  .searchButton {
    display: none;
  }

  .Icon {
    width: 12px;
    height: 12px;
    margin-left: 4px;
    margin-right: 8px;
  }

  li a {
    text-decoration: none;
    color: #2d2f31;
  }

  /*Drop down menu small screen*/

  .dropDown {
    background: rgba(237, 237, 237, 0.726);
    border-radius: 12px;
    margin-right: 5%;
  }

  span {
    background: #fb7b4a;
    color: white;
    font-size: 1.2em;

    cursor: pointer;
    display: block;
    border-radius: 7px 7px 0 0;
    text-align: center;
  }

  span::after {
    align-items: center;
    content: "+";
  }

  .slide {
    clear: both;
    width: 100%;
    height: 0px;
    overflow: hidden;
    text-align: center;
    transition: height 0.4s ease;
  }

  .slide li {
    padding: 20px;
    background: rgba(237, 237, 237, 0.726);
  }

  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    height: 0px;
  }

  input[type="checkbox"]:checked + .slide {
    height: max-content;
  }
}
