.login-box {
  width: 300px;
  height: 400px;
  border: 1px solid #ccc;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 7.539px;
  border: 1.131px solid #f4f4f4;
  background: #be5637;
}

h3 {
  margin: 20px 0 50px 0;
  color: #fff;
  text-align: center;
  font-family: Helvetica;
  font-size: 33.925px;
  font-weight: 300;
}

label {
  margin-bottom: 20px;
  display: block;
  color: #fff;
  text-align: center;
  font-family: Helvetica;
  font-size: 18.847px;
  font-weight: 300;
}

input {
  width: 80%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border-radius: 9.424px;
  border: 0.377px solid #000;
  background: rgba(255, 255, 255, 0.5);
}
