.cardContainer {
  width: 150px;
  height: auto;
  padding: 4%;
  border-radius: 2.5vw;
  border: 0.6vw solid #fb4300;
  background: #342e2b;
  display: flex;
  flex-direction: column;
  color: #c6c6c6;
  font-family: Sofia Sans, sans-serif;
}

.gameCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 620px;
  gap: 0.4rem;
}

.cardImage {
  width: 100%;
  height: auto;
  margin-bottom: 2vw;
  border-radius: 5px 5px 0 0;
}

.cardName {
  font-size: 4.4vw;
  font-weight: 700;
  padding: 0.4rem;
}

.gameGenres {
  font-size: 3vw;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 3vw;
}

.cardPriceBuy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardPrice {
  font-size: 3vw;
  font-weight: 400;
  margin: 0;
}

.cardButton {
  padding: 1.5vw 4vw;
  justify-content: center;
  align-items: center;
  border-radius: 10vw;
  background: #c24626;
  color: #c6c6c6;
  font-family: Sofia Sans, sans-serif;
  font-size: 3vw;
  font-weight: 700;
  box-sizing: border-box;
  border: none;
  float: right;
}

@media screen and (min-width: 462px) {
  .gameCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 420px;
    gap: 0.4rem;
  }

  .cardName {
    font-size: 3.4vw;
    font-weight: 700;
    padding: 0.4rem;
  }
}

@media screen and (min-width: 557px) {
  .cardName {
    font-size: 2.4vw;
    font-weight: 700;
    padding: 0.4rem;
  }
}

@media (min-width: 600px) {
  .cardContainer {
    width: 100%;
  }

  .gameCard {
    width: 1000px;
    margin: 0 auto;
    gap: 1rem;
  }

  .cardImage {
    margin-bottom: 1vw;
  }

  .cardName {
    font-size: 2vw;
  }

  .gameGenres {
    font-size: 2vw;
    margin-bottom: 2vw;
  }

  .cardButton {
    font-size: 2.5vw;
    border-radius: 5vw;
  }
}

@media (min-width: 1000px) {
  .gameCard {
    width: 1500px;
    margin: 0 auto;
    gap: 1rem;
  }

  .cardImage {
    width: auto;
    height: 200px;
    margin-bottom: 2vw;
    border-radius: 15px 15px 0 0;
  }

  .cardButton {
    padding: 1.5vw 2vw;
    justify-content: center;
    align-items: center;
    border-radius: 10vw;
    background: #c24626;
    color: #c6c6c6;
    font-family: Sofia Sans, sans-serif;
    font-size: 2vw;
    font-weight: 700;
    box-sizing: border-box;
    border: none;
    float: right;
  }
}
